@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

$blue: #2c6bff;
$indigo: #152c61;
$lavender: #dce6ff;


*{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

textarea{
    background-color: #f5f8ff;
    border-radius: 6px;
    border: 1px solid $lavender;
    color: $indigo;
    font-size: 16px;
    font-weight: 300;
    height: 84px;
    padding: 9px;
    width: 100%;
}

::placeholder{
    color: rgba(21, 44, 97, 0.5);
}

/* MIXINS */
@mixin primary_button{
    background-color: $blue;
    border-radius: 6px;
    border: none;
    color: white;
    padding: 7px 24px;
}

@mixin secondary_button{
    background-color: transparent;
    border: none;
    color: #707070;
}