@use '../../../assets/scss/global';

#dashboard{
    background-color: #fbfbfb;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 50px;

    nav{
        background-color: white;
        box-shadow: 0px 4px 8px 0px #0000000D;
        margin-bottom: 49px;
        padding: 39px 79px;

        .custom_wrapper{
            align-items: center;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            max-width: 1281px;
            width: 100%;
        }

        #logo{
            color: global.$indigo;
            font-size: 26px;
            font-weight: 500;
            text-decoration: none;
        }

        p#user{
            color: global.$indigo;
            margin: 0;

            button{
                background-color: transparent;
                border: none;
                color: global.$blue;
                font-weight: 600;
                margin-left: 12px;
            }
        }   
    }

    #wall{
        background-color: white;
        box-shadow: 0px 4px 8px 0px #0000000D;
        flex: 1;
        margin: 0 auto;
        max-width: 1281px;
        padding: 73px 69px;
        width: 100%;

        header{
            align-items: center;
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;

            #message_count{
                color: #707070;

                strong{
                    color: global.$blue;
                    font-weight: 600
                }
            }

            #create_message_button{
                @include global.primary_button;
            }
        }

        #feed_list{
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 0;

            #no_message_prompt{
                color: #707070;
                margin-top: 92px;
                text-align: center;

                img{
                    display: block;
                    margin: 0 auto 21px;
                }

            }
        }
    }
}