@use '../global';

#create_message_modal{
    max-width: 937px;

    .btn-close{
        background: url("../images/icons.png") no-repeat -93px -6px;
        border-radius: 0;
        box-sizing: border-box;
        height: 18px;
        margin: 0;
        opacity: 1;
        padding: 0;
        position: absolute;
        right: 20px;
        top: 19px;
        width: 18px;
    }

    .modal-header{
        border: none;
        padding-block: 41px 23px;
    }

    .modal-title{
        color: global.$indigo;
        font-size: 26px;
        font-weight: 500;
        text-align: center;
        width: 100%;
    }

    .modal-body{
        padding-bottom: 48px;

        form{
            padding-inline: 34px;
            text-align: end;

            textarea{
                height: 185px;
                margin-bottom: 24px;
                resize: none;
            }

            .cancel_button{
                @include global.secondary_button;
            }

            .submit_message_button{
                @include global.primary_button;
                margin-left: 26px;
                padding: 7px 41px;

                &.disabled{
                    opacity: .5;
                }
            }
        }
    }
}