@use '../global';

.message, .comment{
    border: 1px solid global.$lavender;
    border-radius: 6px;
    display: flex;
    flex-wrap: wrap;
    padding: 23px 28px;

    p{
        width: 100%;
        color: global.$indigo;
        font-weight: 300;
        margin-bottom: 18px;
    }

    ul{
        padding: 0;
    }

    .actions button{
        @include global.secondary_button();
        margin-right: 28px;

        &.toggle_comment_button{
            span{
                @include global.span_icon;
                background: url("../images/icons.png") no-repeat -3px -6px;
                height: 18px;
                width: 18px;
            }

            &.has_comment{
                color: global.$blue;

                span{
                    background: url("../images/icons.png") -3px -36px;
                }
            }
        }

        &.toggle_edit_button{
            color: global.$blue;

            span{
                @include global.span_icon;
                background: url("../images/icons.png") no-repeat -31px -4px;
                height: 22px;
                width: 22px;
            }
        }

        &.toggle_delete_button{
            span{
                @include global.span_icon;
                background: url("../images/icons.png") no-repeat -64px -5px;
                height: 19px;
                width: 16px;
            }
        }
    }

    .post_info{
        align-items: center;
        color: global.$dark_silver;
        display: flex;
        justify-content: space-between;

        .posted_by{
            font-weight: 600;
            margin-inline: 7px 4px;
        }

        .post_time{
            margin-left: 4px;
        }
    }

    .edit_form{
        width: 100%;
        text-align: right;
        margin-top: 7px;
        
        textarea{
            padding: 8px 10px;
            margin-bottom: 13px;
            resize: none;
        }

        .cancel_button{
            @include global.secondary_button();
            margin-right: 30px
        }

        .submit_edit_button{
            @include global.primary_button();

            &.disabled{
                opacity: .5;
            }
        }
    }

    .comment_form{
        width: 100%;
        text-align: right;
        margin: 25px 0 20px 0;
        border: 1px solid global.$lavender;
        border-radius: 6px;
        padding: 28px;

        textarea{
            resize: none;
            padding: 8px 10px;
            margin-bottom: 13px;
        }

        button[type="submit"]{
            @include global.primary_button();

            &.disabled{
                opacity: .5;
            }
        }
    }

    .comments{
        flex-direction: column;
        display: flex;
        gap: 20px;
        width: 100%;
    }
}