@use '../global';

.message, .comment{
    border-radius: 6px;
    border: 1px solid global.$lavender;
    display: flex;
    flex-wrap: wrap;
    padding: 23px 29px;
    width: 100%;

    .text{
        color: global.$indigo;
        font-weight: 300;
        width: 100%;
    }

    .actions{
        display: flex;
        height: fit-content;

        button{
            @include global.secondary_button;
            align-items: center;
            display: flex;
            height: fit-content;
            margin-right: 29px;

            span{
                display: inline-block;
                margin: 0 9px 3px 0;
            }

            &.toggle_comment_button{
                span{
                    background: url("../images/icons.png") no-repeat -3px -6px;
                    height: 18px;
                    width: 18px;
                }

                &.has_comment{
                    color: global.$blue;

                    span{
                        background: url("../images/icons.png") no-repeat -3px -36px;
                    }
                }
            }

            &.toggle_edit_button{
                color: global.$blue;

                span{
                    background: url("../images/icons.png") no-repeat -31px -4px;
                    height: 22px;
                    width: 22px;
                }
            }

            &.toggle_delete_button{
                span{
                    background: url("../images/icons.png") no-repeat -64px -5px;
                    height: 19px;
                    width: 16px;
                }
            }
        }

    }

    p.post_info{
        color: rgba(0, 0, 0, 0.6);
        margin: 0;

        img{
            margin: 0 8px 4px 0;
        }

        span{
            font-weight: 500;

            &:nth-child(2){
                font-weight: 600;
            }

            &:nth-child(3){
                margin-inline: 4px;
            }
        }
    }

    .edit_form, .comment_form{
        text-align: end;
        width: 100%;

        textarea{
            margin-bottom: 13px;
            resize: none;
        }

        .cancel_button{
            @include global.secondary_button;
        }

        .submit_edit_button, .submit_comment_button{
            @include global.primary_button;
            margin-left: 30px;

            &.disabled{
                opacity: .5;
            }
        }
    }

    .comment_form{
        border-radius: 6px;
        border: 1px solid global.$lavender;
        margin-bottom: 20px;
        margin-top: 23px;
        padding: 29px;
    }

    .comments{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 0;
        width: 100%;
    }
}