@use '../global';

#sign_up{

    p#disclaimer{
        font-weight: 300;
        color: global.$indigo;
        text-align: center;
        margin-top: 34px;
    }

    .form_container{
        button{
            margin-top: 33px;
        }
    }
}